{% extends "base.html" %}
{% block title %}Calcule sua dieta{% endblock %}

{% block content %}

<div class="container mt-2 p-4 bg-white text-black rounded border">
    <h2 class="text-center border-bottom pb-2">Calcule seu gasto diário, água e macronutrientes!</h2>
    <p class="text-center">Está calculadora cálcula sua <strong>Taxa Metabólica Basal</strong>, uma medida para saber o quanto você gasta de energia por dia! Este também vai
        mostrar o quanto você precisa de <strong>água e macronutrientes por dia, e também seu Indíce Corporal!</strong>
    </p>

    <form method="POST" class="row">
        
        {% if error %}
            <div class="error">
                {{ error }}
            </div>
        {% endif %}

        <div class="col-12 mb-3">
            <label class="form-label">Sexo:</label><br>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" id="homem" name="gender" value="m" required
                {% if data.get('gender') == 'm' %}checked{% endif %}>
                <label class="form-check-label" for="homem">Homem</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" id="mulher" name="gender" value="f"
                {% if data.get('gender') == 'f' %}checked{% endif %}>
                <label class="form-check-label" for="mulher">Mulher</label>
            </div>
        </div>

        <div class="col-12 mb-3">
            <label for="weight" class="form-label">Peso:</label>
            <input type="text" inputmode="numeric" pattern="[0-9]*" name="weight" class="form-control" id="weight"
                style="width:60px;" maxlength="3" placeholder="kg" required
                value="{{ data.get('weight', '') }}">
        </div>

        <div class="col-12 mb-3">
            <label for="height" class="form-label">Altura:</label>
            <input type="text" inputmode="numeric" pattern="[0-9]*" name="height" class="form-control" id="height"
                style="width:100px;" maxlength="3" placeholder="cm" required
                value="{{ data.get('height', '') }}">
        </div>

        <div class="col-12 mb-3">
            <label for="age" class="form-label">Idade:</label>
            <input type="text" inputmode="numeric" pattern="[0-9]*" name="age" class="form-control" id="age"
                style="width:60px;" maxlength="3" required
                value="{{ data.get('age', '') }}">
        </div>

        <div class="col-12 mb-3">
            <label for="activity" class="form-label">Nível de Atividade:</label>
            <select name="activity" id="activity" class="form-select" required>
                <option value="1.2">Sedentários (pouco ou nenhum exercício)</option>
                <option value="1.375">Levemente ativo (exercício leve 1 a 3 dias/semana)</option>
                <option value="1.55">Moderadamente ativo (exercício moderado 3 a 5 dias/semana)</option>
                <option value="1.725">Altamente ativo (exercício pesado 5 a 6 dias/semana)</option>
                <option value="1.9">Extremamente ativo (exercício pesado diário ou 2x/dia)</option>
            </select>
        </div>

        <div class="col-12 mb-3">
            <label for="goal" class="form-label">Objetivo:</label>
            <select name="goal" id="goal" class="form-select">
                <option value="manutenção">Manter peso</option>
                <option value="cutting">Perder peso</option>
                <option value="bulking">Ganhar peso</option>
            </select>
        </div>

        <div class="col-12">
            <button type="submit" class="btn btn-primary" style="background-color: #0057b3a8;">Calcular</button>
        </div>
    </form>

    {% if result %}
    <div class="container my-5 mt-3">
        <h3 class="pb-2 border-bottom">Resultados</h3>
        <div class="row text-center g-3">

            <div class="col-md shadow-sm p-3 bg-white">
                <h3 class="mb-0">Seu IMC é: {{ result['bmi']['index'] }}</h3>
                <p class="small mb-1">Significa que você está classificado como <strong>{{ result['bmi']['health'] }}!</strong></p>
                <table class="table table-borderless small">
                    <tbody>
                        <tr class="{% if result['bmi']['index'] < 18.5 %}fw-bold text-dark{% endif %}">
                            <td>Menor que 18.5</td>
                            <td>Abaixo do peso</td>
                        </tr>
                        <tr class="{% if 18.5 <= result['bmi']['index'] < 25 %}fw-bold text-dark{% endif %}">
                            <td>18.5 - 24.99</td>
                            <td>Peso ideal</td>
                        </tr>
                        <tr class="{% if 25 <= result['bmi']['index'] < 30 %}fw-bold text-dark{% endif %}">
                            <td>25 - 29.99</td>
                            <td>Sobrepeso</td>
                        </tr>
                        <tr class="{% if result['bmi']['index'] >= 30 %}fw-bold text-dark{% endif %}">
                            <td>30+</td>
                            <td>Obeso</td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div class="col-md shadow-sm p-3 bg-white">
                <p class="text-muted small mb-1">Calorias de manutenção</p>
                <h3 class="mb-0">{{ result['bmr']['base'] }} kcal</h3>
                <p class="mt-2">Baseado no cálculo usando a fórmula de Mifflin-St Jeor Equation, junto com o seu nível de atividade, 
                este é o <strong> gasto diário base </strong>que você precisa!</p>
            </div>

            {% if goal != 'manutenção' %}
            <div class="col-md shadow-sm p-3 bg-white">
                <p class="text-muted small mb-1">Calorias para {{ goal }}</p>
                <h3 class="mb-0">{{ result['bmr']['goal'] }} kcal</h3>
                <p class="mt-2">Com seu gasto diário definido, podemos calcular um objetivo escolhido por você, sendo estas,
                    as calorias que você precisaria consumir, <strong>em estimativa</strong>, para chegar lá!</p>
            </div>
            {% endif %}

            <div class="col-md shadow-sm p-3 bg-white">
                <p class="text-muted small mb-1">Água</p>
                <h3 class="mb-0">{{ result['water']['ml'] }} ml ({{ result['water']['l'] }} Litros)</h3>
                <p class="mt-2">Hidratação é muito importante! Ter um corpo hidradato, além de fundamental para funcionamento,
                    é também a <strong>prevenção para retenção de líquidos</strong>!
                </p>
            </div>

        </div>
    </div>

    <div class="container my-5">
        <h3 class="pb-2 border-bottom">Macronutrientes</h3>
        <p class="small text-muted mt-0">Dieta com carbos moderados 30/35/35, significa 30% de proteínas, 35% de gorduras e 35% de carboidratos</p>
        <div class="row text-center g-3">
            <div class="col-md shadow-sm p-3 bg-protein">
                <h3 class="mb-0">{{ result['nutrients']['proteins'] }}g</h3>
                <p class="text-muted small mb-1"><em>Proteínas</em></p>
            </div>

            <div class="col-md shadow-sm p-3 bg-fat">
                <h3 class="mb-0">{{ result['nutrients']['fat'] }}g</h3>
                <p class="text-muted small mb-1"><em>Gorduras</em></p>
            </div>

            <div class="col-md shadow-sm p-3 bg-carbs">
                <h3 class="mb-0">{{ result['nutrients']['carbs'] }}g</h3>
                <p class="text-muted small mb-1"><em>Carboidratos</em></p>
            </div>
        </div>
    </div>
    {% endif %}
</div>

<div class="container mt-5 p-4">
    <h3>Como é cálculado seu gasto</h3>
    <p class="small mb-1">Seu gasto diário é uma estimação de quantas calórias você gasta por dia, levando em consideração
        exercícios físicos. O mesmo é cálculado, descobrindo a sua Taxa Metábolica Basal (TMB), e então, multiplica-se
        este valor pelo valor de atividade!
    </p>
</div>
{% endblock %}